@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Epilogue', sans-serif;
  background: #d2f6f7;
}

.eye {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
li .active {
  background: #3b82f6;
  border-radius: 6px;
  color: #fff;
}

.drop {
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.back {
  display: inline-block;
  padding: 15px 30px;
  color: white;
  border-radius: 8px;
  font-weight: 500;
}

.over-text {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

.side-bar {
  position: fixed;
  width: 256px;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  height: 100vh;
  padding-top: 80px;
  transition: transform cubic-bezier(0.4, 0, 0.2, 1) 150ms;
  background: #fff;
  border-right: 1px;
  border-color: #d1d5db;
}
.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(17, 12, 46, 0.15);
}

.transformCustom {
  transform: translate(-43%, 66%);
}
