@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;600;700&display=swap');

body {
  font-family: 'Epilogue', sans-serif;
}

.eye {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
li .active {
  background: #3b82f6;
  border-radius: 8px;
  color: #fff;
}
